=begin
#Temper Cloud API

#Knowledge base management API for temper cloud

The version of the OpenAPI document: 0.6.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Temper::Generated
  class AdminLedgerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Read the admin ledger
    # Returns a page of recorded administrative acts, newest first, on exactly one axis. `subject` (`<kind>:<uuid>`, e.g. `kb_resources:<uuid>`) returns the acts performed on that subject, limited to the act families the caller may read about it: a system admin reads all of them, and a caller who may administer grants on the subject reads its grant acts. `actor` returns the acts a profile performed: any caller may read their own, and only a system admin may read another's. A read the caller is not allowed is answered 404, not 403, so a refusal reveals nothing about the subject. `epoch` is when recording began; acts before it were not recorded. `limit` defaults to 50 and is capped at 200.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :subject Subject axis: &#x60;&lt;kind&gt;:&lt;uuid&gt;&#x60;, e.g. &#x60;kb_resources:0199c3f1-...&#x60;.
    # @option opts [String] :actor Actor axis: whose acts to read. Reading your own is always allowed; reading another profile&#39;s requires a system admin.
    # @option opts [Integer] :limit Page size: default 50, clamped to 1–200 rather than rejected.
    # @option opts [Integer] :offset Page offset. Default 0.
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [AdminLedgerResponse]
    def list_admin_ledger(opts = {})
      data, _status_code, _headers = list_admin_ledger_with_http_info(opts)
      data
    end

    # Read the admin ledger
    # Returns a page of recorded administrative acts, newest first, on exactly one axis. &#x60;subject&#x60; (&#x60;&lt;kind&gt;:&lt;uuid&gt;&#x60;, e.g. &#x60;kb_resources:&lt;uuid&gt;&#x60;) returns the acts performed on that subject, limited to the act families the caller may read about it: a system admin reads all of them, and a caller who may administer grants on the subject reads its grant acts. &#x60;actor&#x60; returns the acts a profile performed: any caller may read their own, and only a system admin may read another&#39;s. A read the caller is not allowed is answered 404, not 403, so a refusal reveals nothing about the subject. &#x60;epoch&#x60; is when recording began; acts before it were not recorded. &#x60;limit&#x60; defaults to 50 and is capped at 200.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :subject Subject axis: &#x60;&lt;kind&gt;:&lt;uuid&gt;&#x60;, e.g. &#x60;kb_resources:0199c3f1-...&#x60;.
    # @option opts [String] :actor Actor axis: whose acts to read. Reading your own is always allowed; reading another profile&#39;s requires a system admin.
    # @option opts [Integer] :limit Page size: default 50, clamped to 1–200 rather than rejected.
    # @option opts [Integer] :offset Page offset. Default 0.
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(AdminLedgerResponse, Integer, Hash)>] AdminLedgerResponse data, response status code and response headers
    def list_admin_ledger_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminLedgerApi.list_admin_ledger ...'
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/admin/ledger'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'subject'] = opts[:'subject'] if !opts[:'subject'].nil?
      query_params[:'actor'] = opts[:'actor'] if !opts[:'actor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminLedgerResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"AdminLedgerApi.list_admin_ledger",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminLedgerApi#list_admin_ledger\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
