=begin
#Temper Cloud API

#Knowledge base management API for temper cloud

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Temper::Generated
  class BlobsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Commit bytes as a blob — one multipart request at or under the D7 threshold
    # Form fields: `file` (the bytes; its content type is the media type committed), `home_table` (`kb_contexts` or `kb_cogmaps` — a blob needs a home, D2), `home_id` (the anchor's id). The caller acts as themselves: owner is the authenticated profile.  The threshold is enforced WHILE the file field streams, so an over-threshold body is refused before it is ever fully buffered, and the refusal names the vocabulary — the threshold in force and the segmented path beyond it. Cap and allowlist stay the SQL wrapper's authority: the substrate write passes this config's numbers through, and a refusal from there surfaces verbatim (`blob_service::map_commit_err`).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [BlobCommitResponse]
    def commit_blob(opts = {})
      data, _status_code, _headers = commit_blob_with_http_info(opts)
      data
    end

    # Commit bytes as a blob — one multipart request at or under the D7 threshold
    # Form fields: &#x60;file&#x60; (the bytes; its content type is the media type committed), &#x60;home_table&#x60; (&#x60;kb_contexts&#x60; or &#x60;kb_cogmaps&#x60; — a blob needs a home, D2), &#x60;home_id&#x60; (the anchor&#39;s id). The caller acts as themselves: owner is the authenticated profile.  The threshold is enforced WHILE the file field streams, so an over-threshold body is refused before it is ever fully buffered, and the refusal names the vocabulary — the threshold in force and the segmented path beyond it. Cap and allowlist stay the SQL wrapper&#39;s authority: the substrate write passes this config&#39;s numbers through, and a refusal from there surfaces verbatim (&#x60;blob_service::map_commit_err&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(BlobCommitResponse, Integer, Hash)>] BlobCommitResponse data, response status code and response headers
    def commit_blob_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlobsApi.commit_blob ...'
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/blobs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BlobCommitResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"BlobsApi.commit_blob",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlobsApi#commit_blob\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read a blob's bytes back, whole, streamed (D6)
    # Visibility gates on the blob's own home via `blob_readable_by_profile` — not visible renders as 404, the same not-found an unknown id gets, so a probe learns nothing either way. The response speaks the STORED media type and carries the byte count plus `Cache-Control: immutable` — content addressing is what earns it (D1), and the provider address never appears anywhere in the response (D6: the API is the only reader of the provider).
    # @param id [String] Blob ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [nil]
    def get_blob(id, opts = {})
      get_blob_with_http_info(id, opts)
      nil
    end

    # Read a blob&#39;s bytes back, whole, streamed (D6)
    # Visibility gates on the blob&#39;s own home via &#x60;blob_readable_by_profile&#x60; — not visible renders as 404, the same not-found an unknown id gets, so a probe learns nothing either way. The response speaks the STORED media type and carries the byte count plus &#x60;Cache-Control: immutable&#x60; — content addressing is what earns it (D1), and the provider address never appears anywhere in the response (D6: the API is the only reader of the provider).
    # @param id [String] Blob ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_blob_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlobsApi.get_blob ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BlobsApi.get_blob"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/blobs/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/octet-stream', 'application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"BlobsApi.get_blob",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlobsApi#get_blob\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
