=begin
#Temper Cloud API

#Knowledge base management API for temper cloud

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Temper::Generated
  class BlobsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Append one segment to a staged upload — raw bytes as the request body
    # The segment's identity is the SERVER's own sha256 of the exact bytes received — the caller sends no integrity claim, so none can be consumed unverified: re-sending the same segment at the same seq is a no-op; a DIFFERENT segment at an occupied seq is a 409 — occupied seqs are never superseded. The whole assembly's integrity is finalize's `expected_content_hash` (422 on a mismatch). The staging ceiling (`BlobConfig::max_bytes`, the cumulative bound across appends) is enforced in the service; the per-request body bound is the platform's, raised for this door only.
    # @param id [String] Upload session ID
    # @param seq [Integer] Segment ordinal — the seq order is the assembly order at finalize
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [BlobUploadProgress]
    def append_blob_segment(id, seq, opts = {})
      data, _status_code, _headers = append_blob_segment_with_http_info(id, seq, opts)
      data
    end

    # Append one segment to a staged upload — raw bytes as the request body
    # The segment&#39;s identity is the SERVER&#39;s own sha256 of the exact bytes received — the caller sends no integrity claim, so none can be consumed unverified: re-sending the same segment at the same seq is a no-op; a DIFFERENT segment at an occupied seq is a 409 — occupied seqs are never superseded. The whole assembly&#39;s integrity is finalize&#39;s &#x60;expected_content_hash&#x60; (422 on a mismatch). The staging ceiling (&#x60;BlobConfig::max_bytes&#x60;, the cumulative bound across appends) is enforced in the service; the per-request body bound is the platform&#39;s, raised for this door only.
    # @param id [String] Upload session ID
    # @param seq [Integer] Segment ordinal — the seq order is the assembly order at finalize
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(BlobUploadProgress, Integer, Hash)>] BlobUploadProgress data, response status code and response headers
    def append_blob_segment_with_http_info(id, seq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlobsApi.append_blob_segment ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BlobsApi.append_blob_segment"
      end
      # verify the required parameter 'seq' is set
      if @api_client.config.client_side_validation && seq.nil?
        fail ArgumentError, "Missing the required parameter 'seq' when calling BlobsApi.append_blob_segment"
      end
      if @api_client.config.client_side_validation && seq < 0
        fail ArgumentError, 'invalid value for "seq" when calling BlobsApi.append_blob_segment, must be greater than or equal to 0.'
      end

      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/blobs/uploads/{id}/segments'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'seq'] = seq

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/octet-stream'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BlobUploadProgress'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"BlobsApi.append_blob_segment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlobsApi#append_blob_segment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Begin a segmented upload — declare the home and media type, get the session id
    # A staged session is not a blob: it has no hash yet, it appears in no list, no graph walk, no read surface — only its owner can append to it, read its progress, or finalize it. Home standing is checked here (fail fast) AND at finalize (authoritative — standing can change mid-upload); the allowlist is not consulted at all until the wrapper sees the commit. Same disabled refusal as the single-request path: a session begun on an unconfigured instance could never finalize.
    # @param blob_upload_begin_request [BlobUploadBeginRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [BlobUploadBeginResponse]
    def begin_blob_upload(blob_upload_begin_request, opts = {})
      data, _status_code, _headers = begin_blob_upload_with_http_info(blob_upload_begin_request, opts)
      data
    end

    # Begin a segmented upload — declare the home and media type, get the session id
    # A staged session is not a blob: it has no hash yet, it appears in no list, no graph walk, no read surface — only its owner can append to it, read its progress, or finalize it. Home standing is checked here (fail fast) AND at finalize (authoritative — standing can change mid-upload); the allowlist is not consulted at all until the wrapper sees the commit. Same disabled refusal as the single-request path: a session begun on an unconfigured instance could never finalize.
    # @param blob_upload_begin_request [BlobUploadBeginRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(BlobUploadBeginResponse, Integer, Hash)>] BlobUploadBeginResponse data, response status code and response headers
    def begin_blob_upload_with_http_info(blob_upload_begin_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlobsApi.begin_blob_upload ...'
      end
      # verify the required parameter 'blob_upload_begin_request' is set
      if @api_client.config.client_side_validation && blob_upload_begin_request.nil?
        fail ArgumentError, "Missing the required parameter 'blob_upload_begin_request' when calling BlobsApi.begin_blob_upload"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/blobs/uploads'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(blob_upload_begin_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BlobUploadBeginResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"BlobsApi.begin_blob_upload",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlobsApi#begin_blob_upload\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the edges incident to a blob — \"what relates to this blob\" (D3)
    # Edges are narrowed by `edges_visible_to` after the blob's own readability gate, so a relation across a visibility boundary leaks neither side: the response holds only edges whose home AND both readable endpoints the caller already has standing for.
    # @param id [String] Blob ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<BlobRelationRow>]
    def blob_relations(id, opts = {})
      data, _status_code, _headers = blob_relations_with_http_info(id, opts)
      data
    end

    # List the edges incident to a blob — \&quot;what relates to this blob\&quot; (D3)
    # Edges are narrowed by &#x60;edges_visible_to&#x60; after the blob&#39;s own readability gate, so a relation across a visibility boundary leaks neither side: the response holds only edges whose home AND both readable endpoints the caller already has standing for.
    # @param id [String] Blob ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(Array<BlobRelationRow>, Integer, Hash)>] Array<BlobRelationRow> data, response status code and response headers
    def blob_relations_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlobsApi.blob_relations ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BlobsApi.blob_relations"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/blobs/{id}/relations'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<BlobRelationRow>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"BlobsApi.blob_relations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlobsApi#blob_relations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read a staged upload's progress — the resume read
    # Returns the currently-landed segment set and the running byte total: the values a finalize echoes back as its concurrency tokens. The staging is caller-private until finalized — another profile's session answers 404, the same absent-not-refused posture every visibility gate renders.
    # @param id [String] Upload session ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [BlobUploadProgress]
    def blob_upload_progress(id, opts = {})
      data, _status_code, _headers = blob_upload_progress_with_http_info(id, opts)
      data
    end

    # Read a staged upload&#39;s progress — the resume read
    # Returns the currently-landed segment set and the running byte total: the values a finalize echoes back as its concurrency tokens. The staging is caller-private until finalized — another profile&#39;s session answers 404, the same absent-not-refused posture every visibility gate renders.
    # @param id [String] Upload session ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(BlobUploadProgress, Integer, Hash)>] BlobUploadProgress data, response status code and response headers
    def blob_upload_progress_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlobsApi.blob_upload_progress ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BlobsApi.blob_upload_progress"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/blobs/uploads/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BlobUploadProgress'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"BlobsApi.blob_upload_progress",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlobsApi#blob_upload_progress\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Commit bytes as a blob — one multipart request at or under the D7 threshold
    # Form fields: `file` (the bytes; its content type is the media type committed), `home_table` (`kb_contexts` or `kb_cogmaps` — a blob needs a home, D2), `home_id` (the anchor's id). The caller acts as themselves: owner is the authenticated profile.  The threshold is enforced WHILE the file field streams, so an over-threshold body is refused before it is ever fully buffered, and the refusal names the vocabulary — the threshold in force and the segmented path beyond it. Cap and allowlist stay the SQL wrapper's authority: the substrate write passes this config's numbers through, and a refusal from there surfaces verbatim (`blob_service::map_commit_err`).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [BlobCommitResponse]
    def commit_blob(opts = {})
      data, _status_code, _headers = commit_blob_with_http_info(opts)
      data
    end

    # Commit bytes as a blob — one multipart request at or under the D7 threshold
    # Form fields: &#x60;file&#x60; (the bytes; its content type is the media type committed), &#x60;home_table&#x60; (&#x60;kb_contexts&#x60; or &#x60;kb_cogmaps&#x60; — a blob needs a home, D2), &#x60;home_id&#x60; (the anchor&#39;s id). The caller acts as themselves: owner is the authenticated profile.  The threshold is enforced WHILE the file field streams, so an over-threshold body is refused before it is ever fully buffered, and the refusal names the vocabulary — the threshold in force and the segmented path beyond it. Cap and allowlist stay the SQL wrapper&#39;s authority: the substrate write passes this config&#39;s numbers through, and a refusal from there surfaces verbatim (&#x60;blob_service::map_commit_err&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(BlobCommitResponse, Integer, Hash)>] BlobCommitResponse data, response status code and response headers
    def commit_blob_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlobsApi.commit_blob ...'
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/blobs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BlobCommitResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"BlobsApi.commit_blob",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlobsApi#commit_blob\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Finalize a staged upload — assemble, hash, commit
    # Assembles the staged segments in seq order and runs the exact single-request commit path: standing re-run (the gate the put answers to), concurrency tokens checked (409, resumable), optional integrity hash checked (422 — the ingest precedent's face), the readability-gated dedup pre-check, the provider put unless deduped, then the SQL wrapper whose cap/allowlist refusals surface verbatim. Staging dies on success only — every failure keeps it, resumable.
    # @param id [String] Upload session ID
    # @param blob_upload_finalize_request [BlobUploadFinalizeRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [BlobCommitResponse]
    def finalize_blob_upload(id, blob_upload_finalize_request, opts = {})
      data, _status_code, _headers = finalize_blob_upload_with_http_info(id, blob_upload_finalize_request, opts)
      data
    end

    # Finalize a staged upload — assemble, hash, commit
    # Assembles the staged segments in seq order and runs the exact single-request commit path: standing re-run (the gate the put answers to), concurrency tokens checked (409, resumable), optional integrity hash checked (422 — the ingest precedent&#39;s face), the readability-gated dedup pre-check, the provider put unless deduped, then the SQL wrapper whose cap/allowlist refusals surface verbatim. Staging dies on success only — every failure keeps it, resumable.
    # @param id [String] Upload session ID
    # @param blob_upload_finalize_request [BlobUploadFinalizeRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(BlobCommitResponse, Integer, Hash)>] BlobCommitResponse data, response status code and response headers
    def finalize_blob_upload_with_http_info(id, blob_upload_finalize_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlobsApi.finalize_blob_upload ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BlobsApi.finalize_blob_upload"
      end
      # verify the required parameter 'blob_upload_finalize_request' is set
      if @api_client.config.client_side_validation && blob_upload_finalize_request.nil?
        fail ArgumentError, "Missing the required parameter 'blob_upload_finalize_request' when calling BlobsApi.finalize_blob_upload"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/blobs/uploads/{id}/finalize'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(blob_upload_finalize_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BlobCommitResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"BlobsApi.finalize_blob_upload",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlobsApi#finalize_blob_upload\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read a blob's bytes back, whole, streamed (D6)
    # Visibility gates on the blob's own home via `blob_readable_by_profile` — not visible renders as 404, the same not-found an unknown id gets, so a probe learns nothing either way. The response speaks the STORED media type and carries the byte count plus `Cache-Control: private, immutable` — content addressing is what earns `immutable` (D1), and `private` because the bytes are per-caller authorized (a shared cache is never licensed to store them); and `Content-Disposition: attachment` — a blob read is a bytes fetch, never a rendering invitation (the F10 ruling: the posture survives the operational changes — cookie auth, CSP relaxation, a commit-time-only allowlist — that would otherwise turn stored active content into stored XSS). The provider address never appears anywhere in the response (D6: the API is the only reader of the provider).
    # @param id [String] Blob ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [nil]
    def get_blob(id, opts = {})
      get_blob_with_http_info(id, opts)
      nil
    end

    # Read a blob&#39;s bytes back, whole, streamed (D6)
    # Visibility gates on the blob&#39;s own home via &#x60;blob_readable_by_profile&#x60; — not visible renders as 404, the same not-found an unknown id gets, so a probe learns nothing either way. The response speaks the STORED media type and carries the byte count plus &#x60;Cache-Control: private, immutable&#x60; — content addressing is what earns &#x60;immutable&#x60; (D1), and &#x60;private&#x60; because the bytes are per-caller authorized (a shared cache is never licensed to store them); and &#x60;Content-Disposition: attachment&#x60; — a blob read is a bytes fetch, never a rendering invitation (the F10 ruling: the posture survives the operational changes — cookie auth, CSP relaxation, a commit-time-only allowlist — that would otherwise turn stored active content into stored XSS). The provider address never appears anywhere in the response (D6: the API is the only reader of the provider).
    # @param id [String] Blob ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_blob_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlobsApi.get_blob ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BlobsApi.get_blob"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/blobs/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/octet-stream', 'application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"BlobsApi.get_blob",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlobsApi#get_blob\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the blobs the caller can read (optionally scoped to one home)
    # Visibility is `blob_readable_by_profile` — the same predicate the read-through gates on, never restated here — so the response IS the caller's blob set and nothing more.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :home_table &#x60;kb_contexts&#x60; or &#x60;kb_cogmaps&#x60; — scope to one home anchor
    # @option opts [String] :home_id The home anchor&#39;s id (with home_table)
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<BlobSummary>]
    def list_blobs(opts = {})
      data, _status_code, _headers = list_blobs_with_http_info(opts)
      data
    end

    # List the blobs the caller can read (optionally scoped to one home)
    # Visibility is &#x60;blob_readable_by_profile&#x60; — the same predicate the read-through gates on, never restated here — so the response IS the caller&#39;s blob set and nothing more.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :home_table &#x60;kb_contexts&#x60; or &#x60;kb_cogmaps&#x60; — scope to one home anchor
    # @option opts [String] :home_id The home anchor&#39;s id (with home_table)
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(Array<BlobSummary>, Integer, Hash)>] Array<BlobSummary> data, response status code and response headers
    def list_blobs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlobsApi.list_blobs ...'
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/blobs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'home_table'] = opts[:'home_table'] if !opts[:'home_table'].nil?
      query_params[:'home_id'] = opts[:'home_id'] if !opts[:'home_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<BlobSummary>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"BlobsApi.list_blobs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlobsApi#list_blobs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Assert one relation between a blob and another anchor
    # The edge homes on the BLOB's home anchor — the blob-scoped surface answers to the blob's standing — and the peer must be readable by the caller (`endpoint_readable_ by_profile`), so a relation can never point at an anchor the caller cannot see. Gate train, in order: blob readable → 404; home authorable → 403; peer readable → 404. Retraction rides the incumbent fold endpoint; relations come and go individually.
    # @param id [String] Blob ID
    # @param blob_relation_assert_request [BlobRelationAssertRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [BlobRelationAck]
    def relate_blob(id, blob_relation_assert_request, opts = {})
      data, _status_code, _headers = relate_blob_with_http_info(id, blob_relation_assert_request, opts)
      data
    end

    # Assert one relation between a blob and another anchor
    # The edge homes on the BLOB&#39;s home anchor — the blob-scoped surface answers to the blob&#39;s standing — and the peer must be readable by the caller (&#x60;endpoint_readable_ by_profile&#x60;), so a relation can never point at an anchor the caller cannot see. Gate train, in order: blob readable → 404; home authorable → 403; peer readable → 404. Retraction rides the incumbent fold endpoint; relations come and go individually.
    # @param id [String] Blob ID
    # @param blob_relation_assert_request [BlobRelationAssertRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(BlobRelationAck, Integer, Hash)>] BlobRelationAck data, response status code and response headers
    def relate_blob_with_http_info(id, blob_relation_assert_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlobsApi.relate_blob ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BlobsApi.relate_blob"
      end
      # verify the required parameter 'blob_relation_assert_request' is set
      if @api_client.config.client_side_validation && blob_relation_assert_request.nil?
        fail ArgumentError, "Missing the required parameter 'blob_relation_assert_request' when calling BlobsApi.relate_blob"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/blobs/{id}/relations'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(blob_relation_assert_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BlobRelationAck'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"BlobsApi.relate_blob",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlobsApi#relate_blob\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
