=begin
#Temper Cloud API

#Knowledge base management API for temper cloud

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Temper::Generated
  class DataArtifactsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get a single artifact by ID under its owning resource
    # The resource ID in the path is the REST parent; visibility is gated on the artifact's actual owning resource via `resources_visible_to`. Returns 404 if the artifact does not exist or is not visible to the caller.
    # @param id [String] Resource ID (REST parent)
    # @param artifact_id [String] Artifact ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [ArtifactView]
    def get_artifact(id, artifact_id, opts = {})
      data, _status_code, _headers = get_artifact_with_http_info(id, artifact_id, opts)
      data
    end

    # Get a single artifact by ID under its owning resource
    # The resource ID in the path is the REST parent; visibility is gated on the artifact&#39;s actual owning resource via &#x60;resources_visible_to&#x60;. Returns 404 if the artifact does not exist or is not visible to the caller.
    # @param id [String] Resource ID (REST parent)
    # @param artifact_id [String] Artifact ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(ArtifactView, Integer, Hash)>] ArtifactView data, response status code and response headers
    def get_artifact_with_http_info(id, artifact_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataArtifactsApi.get_artifact ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DataArtifactsApi.get_artifact"
      end
      # verify the required parameter 'artifact_id' is set
      if @api_client.config.client_side_validation && artifact_id.nil?
        fail ArgumentError, "Missing the required parameter 'artifact_id' when calling DataArtifactsApi.get_artifact"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/resources/{id}/artifacts/{artifact_id}'.sub('{id}', CGI.escape(id.to_s)).sub('{artifact_id}', CGI.escape(artifact_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ArtifactView'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"DataArtifactsApi.get_artifact",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataArtifactsApi#get_artifact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List artifacts for a resource, or counts with counts=true
    # Without `counts=true`: returns fully hydrated artifacts (metadata + content). With `counts=true`: returns per-family counts only, no content hydration — for surfaces that need \"3 measurements, 1 extraction\" without fetching payloads.
    # @param id [String] Resource ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :kind Filter by the bare family name (e.g. &#x60;\&quot;measurement\&quot;&#x60;).
    # @option opts [String] :intent Filter by selection intent: &#x60;\&quot;current\&quot;&#x60;, &#x60;\&quot;member\&quot;&#x60;, or &#x60;\&quot;pinned\&quot;&#x60;.
    # @option opts [Boolean] :include_folded Include folded (superseded) artifacts in the result. Default: &#x60;false&#x60;.
    # @option opts [Boolean] :counts Return per-family counts instead of full artifacts. No content hydration. Default: &#x60;false&#x60; (full artifacts with content).
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<ArtifactView>]
    def list_artifacts(id, opts = {})
      data, _status_code, _headers = list_artifacts_with_http_info(id, opts)
      data
    end

    # List artifacts for a resource, or counts with counts&#x3D;true
    # Without &#x60;counts&#x3D;true&#x60;: returns fully hydrated artifacts (metadata + content). With &#x60;counts&#x3D;true&#x60;: returns per-family counts only, no content hydration — for surfaces that need \&quot;3 measurements, 1 extraction\&quot; without fetching payloads.
    # @param id [String] Resource ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :kind Filter by the bare family name (e.g. &#x60;\&quot;measurement\&quot;&#x60;).
    # @option opts [String] :intent Filter by selection intent: &#x60;\&quot;current\&quot;&#x60;, &#x60;\&quot;member\&quot;&#x60;, or &#x60;\&quot;pinned\&quot;&#x60;.
    # @option opts [Boolean] :include_folded Include folded (superseded) artifacts in the result. Default: &#x60;false&#x60;.
    # @option opts [Boolean] :counts Return per-family counts instead of full artifacts. No content hydration. Default: &#x60;false&#x60; (full artifacts with content).
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(Array<ArtifactView>, Integer, Hash)>] Array<ArtifactView> data, response status code and response headers
    def list_artifacts_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataArtifactsApi.list_artifacts ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DataArtifactsApi.list_artifacts"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/resources/{id}/artifacts'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'kind'] = opts[:'kind'] if !opts[:'kind'].nil?
      query_params[:'intent'] = opts[:'intent'] if !opts[:'intent'].nil?
      query_params[:'include_folded'] = opts[:'include_folded'] if !opts[:'include_folded'].nil?
      query_params[:'counts'] = opts[:'counts'] if !opts[:'counts'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ArtifactView>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"DataArtifactsApi.list_artifacts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataArtifactsApi#list_artifacts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
