=begin
#Temper Cloud API

#Knowledge base management API for temper cloud

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Temper::Generated
  class DataArtifactShapesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Declare a shape for a data-artifact family within a context home.
    # Authority-gated: the caller must have authoring authority over the context (`context_authorable_by_profile`). The service layer applies the gate before any write — a caller who cannot author the home is refused with 403.
    # @param id [String] Context ID (the shape&#39;s home anchor)
    # @param shape_declare_request [ShapeDeclareRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [ShapeView]
    def declare_shape(id, shape_declare_request, opts = {})
      data, _status_code, _headers = declare_shape_with_http_info(id, shape_declare_request, opts)
      data
    end

    # Declare a shape for a data-artifact family within a context home.
    # Authority-gated: the caller must have authoring authority over the context (&#x60;context_authorable_by_profile&#x60;). The service layer applies the gate before any write — a caller who cannot author the home is refused with 403.
    # @param id [String] Context ID (the shape&#39;s home anchor)
    # @param shape_declare_request [ShapeDeclareRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(ShapeView, Integer, Hash)>] ShapeView data, response status code and response headers
    def declare_shape_with_http_info(id, shape_declare_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataArtifactShapesApi.declare_shape ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DataArtifactShapesApi.declare_shape"
      end
      # verify the required parameter 'shape_declare_request' is set
      if @api_client.config.client_side_validation && shape_declare_request.nil?
        fail ArgumentError, "Missing the required parameter 'shape_declare_request' when calling DataArtifactShapesApi.declare_shape"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/contexts/{id}/shapes'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(shape_declare_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ShapeView'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"DataArtifactShapesApi.declare_shape",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataArtifactShapesApi#declare_shape\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single shape by ID.
    # Visibility-gated: returns 404 if the shape does not exist or its owning home anchor is not readable to the caller. Includes folded shapes (audit/history).
    # @param shape_id [String] Shape ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [ShapeView]
    def get_shape(shape_id, opts = {})
      data, _status_code, _headers = get_shape_with_http_info(shape_id, opts)
      data
    end

    # Get a single shape by ID.
    # Visibility-gated: returns 404 if the shape does not exist or its owning home anchor is not readable to the caller. Includes folded shapes (audit/history).
    # @param shape_id [String] Shape ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(ShapeView, Integer, Hash)>] ShapeView data, response status code and response headers
    def get_shape_with_http_info(shape_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataArtifactShapesApi.get_shape ...'
      end
      # verify the required parameter 'shape_id' is set
      if @api_client.config.client_side_validation && shape_id.nil?
        fail ArgumentError, "Missing the required parameter 'shape_id' when calling DataArtifactShapesApi.get_shape"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/shapes/{shape_id}'.sub('{shape_id}', CGI.escape(shape_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ShapeView'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"DataArtifactShapesApi.get_shape",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataArtifactShapesApi#get_shape\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List live shapes declared for a context home.
    # Visibility-gated: the caller only sees shapes whose home anchor they can read. Returns an empty set (never an error) for an unreadable context.
    # @param id [String] Context ID (the shape&#39;s home anchor)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<ShapeView>]
    def list_shapes(id, opts = {})
      data, _status_code, _headers = list_shapes_with_http_info(id, opts)
      data
    end

    # List live shapes declared for a context home.
    # Visibility-gated: the caller only sees shapes whose home anchor they can read. Returns an empty set (never an error) for an unreadable context.
    # @param id [String] Context ID (the shape&#39;s home anchor)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(Array<ShapeView>, Integer, Hash)>] Array<ShapeView> data, response status code and response headers
    def list_shapes_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataArtifactShapesApi.list_shapes ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DataArtifactShapesApi.list_shapes"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/contexts/{id}/shapes'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ShapeView>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"DataArtifactShapesApi.list_shapes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataArtifactShapesApi#list_shapes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
