=begin
#Temper Cloud API

#Knowledge base management API for temper cloud

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Temper::Generated
  class GraphApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # GET /api/graph/home — the you→teams→cogmaps membership home.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [AtlasHome]
    def atlas_home(opts = {})
      data, _status_code, _headers = atlas_home_with_http_info(opts)
      data
    end

    # GET /api/graph/home — the you→teams→cogmaps membership home.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(AtlasHome, Integer, Hash)>] AtlasHome data, response status code and response headers
    def atlas_home_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GraphApi.atlas_home ...'
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/graph/home'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AtlasHome'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"GraphApi.atlas_home",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GraphApi#atlas_home\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # POST /api/cogmaps/{id}/graph/slice — R4 cogmap-scoped neighborhood slice.
    # @param id [String] Cogmap id to scope the slice to
    # @param slice_request [SliceRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [AtlasSubgraph]
    def cogmap_neighborhood_slice(id, slice_request, opts = {})
      data, _status_code, _headers = cogmap_neighborhood_slice_with_http_info(id, slice_request, opts)
      data
    end

    # POST /api/cogmaps/{id}/graph/slice — R4 cogmap-scoped neighborhood slice.
    # @param id [String] Cogmap id to scope the slice to
    # @param slice_request [SliceRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(AtlasSubgraph, Integer, Hash)>] AtlasSubgraph data, response status code and response headers
    def cogmap_neighborhood_slice_with_http_info(id, slice_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GraphApi.cogmap_neighborhood_slice ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling GraphApi.cogmap_neighborhood_slice"
      end
      # verify the required parameter 'slice_request' is set
      if @api_client.config.client_side_validation && slice_request.nil?
        fail ArgumentError, "Missing the required parameter 'slice_request' when calling GraphApi.cogmap_neighborhood_slice"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/cogmaps/{id}/graph/slice'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(slice_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AtlasSubgraph'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"GraphApi.cogmap_neighborhood_slice",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GraphApi#cogmap_neighborhood_slice\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET /api/graph/cogmaps/{id}/panorama — enter-a-cogmap Tier-0 interior.
    # @param id [String] Cogmap id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lens_id Optional lens override; defaults to the cogmap&#39;s primary lens.
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [TerritoryOverview]
    def cogmap_panorama(id, opts = {})
      data, _status_code, _headers = cogmap_panorama_with_http_info(id, opts)
      data
    end

    # GET /api/graph/cogmaps/{id}/panorama — enter-a-cogmap Tier-0 interior.
    # @param id [String] Cogmap id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lens_id Optional lens override; defaults to the cogmap&#39;s primary lens.
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(TerritoryOverview, Integer, Hash)>] TerritoryOverview data, response status code and response headers
    def cogmap_panorama_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GraphApi.cogmap_panorama ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling GraphApi.cogmap_panorama"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/graph/cogmaps/{id}/panorama'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'lens_id'] = opts[:'lens_id'] if !opts[:'lens_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TerritoryOverview'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"GraphApi.cogmap_panorama",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GraphApi#cogmap_panorama\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET /api/graph/contexts/composition — Beat E Tier-1: the force-graph composition of a container's (or a residual bucket's) members.
    # @param context_ref [String] Context ref (decorated or bare UUID) — the drill&#39;s home context.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :container Container resource id to drill.
    # @option opts [String] :group Residual bucket to drill, as &#x60;&lt;group_key&gt;:&lt;group_value&gt;&#x60;.
    # @option opts [String] :container_types Comma-separated doc-types treated as containers. Defaults to &#x60;goal&#x60; (spec D4).
    # @option opts [Integer] :depth Composition (drill) depth; defaults to 1, clamped to 3 by the service.
    # @option opts [Integer] :container_depth Container-walk depth used to resolve a &#x60;group&#x60; bucket&#39;s members. Must match the &#x60;depth&#x60; the panorama was called with, or the drill yields a different set than the tray showed. Ignored for a &#x60;container&#x60; drill. Defaults to 2.
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [AtlasSubgraph]
    def context_composition(context_ref, opts = {})
      data, _status_code, _headers = context_composition_with_http_info(context_ref, opts)
      data
    end

    # GET /api/graph/contexts/composition — Beat E Tier-1: the force-graph composition of a container&#39;s (or a residual bucket&#39;s) members.
    # @param context_ref [String] Context ref (decorated or bare UUID) — the drill&#39;s home context.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :container Container resource id to drill.
    # @option opts [String] :group Residual bucket to drill, as &#x60;&lt;group_key&gt;:&lt;group_value&gt;&#x60;.
    # @option opts [String] :container_types Comma-separated doc-types treated as containers. Defaults to &#x60;goal&#x60; (spec D4).
    # @option opts [Integer] :depth Composition (drill) depth; defaults to 1, clamped to 3 by the service.
    # @option opts [Integer] :container_depth Container-walk depth used to resolve a &#x60;group&#x60; bucket&#39;s members. Must match the &#x60;depth&#x60; the panorama was called with, or the drill yields a different set than the tray showed. Ignored for a &#x60;container&#x60; drill. Defaults to 2.
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(AtlasSubgraph, Integer, Hash)>] AtlasSubgraph data, response status code and response headers
    def context_composition_with_http_info(context_ref, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GraphApi.context_composition ...'
      end
      # verify the required parameter 'context_ref' is set
      if @api_client.config.client_side_validation && context_ref.nil?
        fail ArgumentError, "Missing the required parameter 'context_ref' when calling GraphApi.context_composition"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/graph/contexts/composition'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'context_ref'] = context_ref
      query_params[:'container'] = opts[:'container'] if !opts[:'container'].nil?
      query_params[:'group'] = opts[:'group'] if !opts[:'group'].nil?
      query_params[:'container_types'] = opts[:'container_types'] if !opts[:'container_types'].nil?
      query_params[:'depth'] = opts[:'depth'] if !opts[:'depth'].nil?
      query_params[:'container_depth'] = opts[:'container_depth'] if !opts[:'container_depth'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AtlasSubgraph'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"GraphApi.context_composition",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GraphApi#context_composition\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET /api/graph/contexts/panorama — Beat E Tier-0: goal-container territories + residual tray.
    # @param context_ref [String] Context ref in decorated form (&#x60;@me/&lt;slug&gt;&#x60;, &#x60;@&lt;handle&gt;/&lt;slug&gt;&#x60;, &#x60;+&lt;team-slug&gt;/&lt;slug&gt;&#x60;) or a bare UUID.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :group_by Property key the residual tray groups by. Defaults to &#x60;doc_type&#x60; (spec D2 — a parameter, not a constant).
    # @option opts [String] :container_types Comma-separated doc-types treated as containers. Defaults to &#x60;goal&#x60; (spec D4).
    # @option opts [Integer] :depth Container-walk depth; defaults to 2, clamped to 3 by the SQL.
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [ContextPanorama]
    def context_panorama(context_ref, opts = {})
      data, _status_code, _headers = context_panorama_with_http_info(context_ref, opts)
      data
    end

    # GET /api/graph/contexts/panorama — Beat E Tier-0: goal-container territories + residual tray.
    # @param context_ref [String] Context ref in decorated form (&#x60;@me/&lt;slug&gt;&#x60;, &#x60;@&lt;handle&gt;/&lt;slug&gt;&#x60;, &#x60;+&lt;team-slug&gt;/&lt;slug&gt;&#x60;) or a bare UUID.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :group_by Property key the residual tray groups by. Defaults to &#x60;doc_type&#x60; (spec D2 — a parameter, not a constant).
    # @option opts [String] :container_types Comma-separated doc-types treated as containers. Defaults to &#x60;goal&#x60; (spec D4).
    # @option opts [Integer] :depth Container-walk depth; defaults to 2, clamped to 3 by the SQL.
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(ContextPanorama, Integer, Hash)>] ContextPanorama data, response status code and response headers
    def context_panorama_with_http_info(context_ref, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GraphApi.context_panorama ...'
      end
      # verify the required parameter 'context_ref' is set
      if @api_client.config.client_side_validation && context_ref.nil?
        fail ArgumentError, "Missing the required parameter 'context_ref' when calling GraphApi.context_panorama"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/graph/contexts/panorama'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'context_ref'] = context_ref
      query_params[:'group_by'] = opts[:'group_by'] if !opts[:'group_by'].nil?
      query_params[:'container_types'] = opts[:'container_types'] if !opts[:'container_types'].nil?
      query_params[:'depth'] = opts[:'depth'] if !opts[:'depth'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContextPanorama'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"GraphApi.context_panorama",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GraphApi#context_panorama\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET /api/graph/regions/composition — Beat D region→resources composition drill.
    # @param ids [String] Comma-separated region ids — one region, or a shift-selected union.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :depth Composition depth; defaults to 1, clamped to 3 by the service.
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [AtlasSubgraph]
    def region_composition(ids, opts = {})
      data, _status_code, _headers = region_composition_with_http_info(ids, opts)
      data
    end

    # GET /api/graph/regions/composition — Beat D region→resources composition drill.
    # @param ids [String] Comma-separated region ids — one region, or a shift-selected union.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :depth Composition depth; defaults to 1, clamped to 3 by the service.
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(AtlasSubgraph, Integer, Hash)>] AtlasSubgraph data, response status code and response headers
    def region_composition_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GraphApi.region_composition ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling GraphApi.region_composition"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/graph/regions/composition'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = ids
      query_params[:'depth'] = opts[:'depth'] if !opts[:'depth'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AtlasSubgraph'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"GraphApi.region_composition",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GraphApi#region_composition\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
