=begin
#Temper Cloud API

#Knowledge base management API for temper cloud

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Temper::Generated
  class QueryApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # `POST /api/query`.
    # The door onto the composition contract: a caller sends a plan, the server answers it or refuses it. Everything before this route built a door that nothing could knock on.  **The pipeline is not assembled here.** [`query_read::prepare`] owns the order — shape-gate, then embed, then validate — and is the only constructor of a `ValidatedComposition`, so this handler cannot run an unvalidated plan even by mistake. Spelling the order out here would make this the second place that knows it, and the day the MCP tool and the CLI arrive, the third and fourth.  **The refusal branch is the only thing that differs from [`super::search::search`]**, whose shape this otherwise copies: `search_select` takes params and answers, while `prepare` may refuse first.
    # @param composition [Composition] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [QueryResponse]
    def query(composition, opts = {})
      data, _status_code, _headers = query_with_http_info(composition, opts)
      data
    end

    # &#x60;POST /api/query&#x60;.
    # The door onto the composition contract: a caller sends a plan, the server answers it or refuses it. Everything before this route built a door that nothing could knock on.  **The pipeline is not assembled here.** [&#x60;query_read::prepare&#x60;] owns the order — shape-gate, then embed, then validate — and is the only constructor of a &#x60;ValidatedComposition&#x60;, so this handler cannot run an unvalidated plan even by mistake. Spelling the order out here would make this the second place that knows it, and the day the MCP tool and the CLI arrive, the third and fourth.  **The refusal branch is the only thing that differs from [&#x60;super::search::search&#x60;]**, whose shape this otherwise copies: &#x60;search_select&#x60; takes params and answers, while &#x60;prepare&#x60; may refuse first.
    # @param composition [Composition] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(QueryResponse, Integer, Hash)>] QueryResponse data, response status code and response headers
    def query_with_http_info(composition, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QueryApi.query ...'
      end
      # verify the required parameter 'composition' is set
      if @api_client.config.client_side_validation && composition.nil?
        fail ArgumentError, "Missing the required parameter 'composition' when calling QueryApi.query"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/query'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(composition)

      # return_type
      return_type = opts[:debug_return_type] || 'QueryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"QueryApi.query",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QueryApi#query\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
