=begin
#Temper Cloud API

#Knowledge base management API for temper cloud

The version of the OpenAPI document: 0.4.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Temper::Generated
  class ReblockingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Run one bounded, resumable re-blocking step
    # @param reblock_request [ReblockRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [ReblockReceipt]
    def reblock_resources(reblock_request, opts = {})
      data, _status_code, _headers = reblock_resources_with_http_info(reblock_request, opts)
      data
    end

    # Run one bounded, resumable re-blocking step
    # @param reblock_request [ReblockRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(ReblockReceipt, Integer, Hash)>] ReblockReceipt data, response status code and response headers
    def reblock_resources_with_http_info(reblock_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReblockingApi.reblock_resources ...'
      end
      # verify the required parameter 'reblock_request' is set
      if @api_client.config.client_side_validation && reblock_request.nil?
        fail ArgumentError, "Missing the required parameter 'reblock_request' when calling ReblockingApi.reblock_resources"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/resources/reblock'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reblock_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ReblockReceipt'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"ReblockingApi.reblock_resources",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReblockingApi#reblock_resources\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
