=begin
#Temper Cloud API

#Knowledge base management API for temper cloud

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Temper::Generated
  class RelationshipsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param assert_relationship_request [AssertRelationshipRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [RelationshipAck]
    def assert(assert_relationship_request, opts = {})
      data, _status_code, _headers = assert_with_http_info(assert_relationship_request, opts)
      data
    end

    # @param assert_relationship_request [AssertRelationshipRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(RelationshipAck, Integer, Hash)>] RelationshipAck data, response status code and response headers
    def assert_with_http_info(assert_relationship_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RelationshipsApi.assert ...'
      end
      # verify the required parameter 'assert_relationship_request' is set
      if @api_client.config.client_side_validation && assert_relationship_request.nil?
        fail ArgumentError, "Missing the required parameter 'assert_relationship_request' when calling RelationshipsApi.assert"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/relationships'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(assert_relationship_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RelationshipAck'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"RelationshipsApi.assert",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RelationshipsApi#assert\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param edge_handle [String] Relationship edge handle
    # @param fold_relationship_request [FoldRelationshipRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [RelationshipAck]
    def fold(edge_handle, fold_relationship_request, opts = {})
      data, _status_code, _headers = fold_with_http_info(edge_handle, fold_relationship_request, opts)
      data
    end

    # @param edge_handle [String] Relationship edge handle
    # @param fold_relationship_request [FoldRelationshipRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(RelationshipAck, Integer, Hash)>] RelationshipAck data, response status code and response headers
    def fold_with_http_info(edge_handle, fold_relationship_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RelationshipsApi.fold ...'
      end
      # verify the required parameter 'edge_handle' is set
      if @api_client.config.client_side_validation && edge_handle.nil?
        fail ArgumentError, "Missing the required parameter 'edge_handle' when calling RelationshipsApi.fold"
      end
      # verify the required parameter 'fold_relationship_request' is set
      if @api_client.config.client_side_validation && fold_relationship_request.nil?
        fail ArgumentError, "Missing the required parameter 'fold_relationship_request' when calling RelationshipsApi.fold"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/relationships/{edge_handle}/fold'.sub('{edge_handle}', CGI.escape(edge_handle.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(fold_relationship_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RelationshipAck'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"RelationshipsApi.fold",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RelationshipsApi#fold\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param edge_handle [String] Relationship edge handle
    # @param retype_relationship_request [RetypeRelationshipRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [RelationshipAck]
    def retype(edge_handle, retype_relationship_request, opts = {})
      data, _status_code, _headers = retype_with_http_info(edge_handle, retype_relationship_request, opts)
      data
    end

    # @param edge_handle [String] Relationship edge handle
    # @param retype_relationship_request [RetypeRelationshipRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(RelationshipAck, Integer, Hash)>] RelationshipAck data, response status code and response headers
    def retype_with_http_info(edge_handle, retype_relationship_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RelationshipsApi.retype ...'
      end
      # verify the required parameter 'edge_handle' is set
      if @api_client.config.client_side_validation && edge_handle.nil?
        fail ArgumentError, "Missing the required parameter 'edge_handle' when calling RelationshipsApi.retype"
      end
      # verify the required parameter 'retype_relationship_request' is set
      if @api_client.config.client_side_validation && retype_relationship_request.nil?
        fail ArgumentError, "Missing the required parameter 'retype_relationship_request' when calling RelationshipsApi.retype"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/relationships/{edge_handle}/retype'.sub('{edge_handle}', CGI.escape(edge_handle.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(retype_relationship_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RelationshipAck'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"RelationshipsApi.retype",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RelationshipsApi#retype\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param edge_handle [String] Relationship edge handle
    # @param reweight_relationship_request [ReweightRelationshipRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [RelationshipAck]
    def reweight(edge_handle, reweight_relationship_request, opts = {})
      data, _status_code, _headers = reweight_with_http_info(edge_handle, reweight_relationship_request, opts)
      data
    end

    # @param edge_handle [String] Relationship edge handle
    # @param reweight_relationship_request [ReweightRelationshipRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(RelationshipAck, Integer, Hash)>] RelationshipAck data, response status code and response headers
    def reweight_with_http_info(edge_handle, reweight_relationship_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RelationshipsApi.reweight ...'
      end
      # verify the required parameter 'edge_handle' is set
      if @api_client.config.client_side_validation && edge_handle.nil?
        fail ArgumentError, "Missing the required parameter 'edge_handle' when calling RelationshipsApi.reweight"
      end
      # verify the required parameter 'reweight_relationship_request' is set
      if @api_client.config.client_side_validation && reweight_relationship_request.nil?
        fail ArgumentError, "Missing the required parameter 'reweight_relationship_request' when calling RelationshipsApi.reweight"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/relationships/{edge_handle}/reweight'.sub('{edge_handle}', CGI.escape(edge_handle.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reweight_relationship_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RelationshipAck'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"RelationshipsApi.reweight",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RelationshipsApi#reweight\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
