=begin
#Temper Cloud API

#Knowledge base management API for temper cloud

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Temper::Generated
  class ResourcesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param id [String] Resource ID
    # @param resource_annotate_request [ResourceAnnotateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [ResourceView]
    def annotate_resource(id, resource_annotate_request, opts = {})
      data, _status_code, _headers = annotate_resource_with_http_info(id, resource_annotate_request, opts)
      data
    end

    # @param id [String] Resource ID
    # @param resource_annotate_request [ResourceAnnotateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(ResourceView, Integer, Hash)>] ResourceView data, response status code and response headers
    def annotate_resource_with_http_info(id, resource_annotate_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.annotate_resource ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ResourcesApi.annotate_resource"
      end
      # verify the required parameter 'resource_annotate_request' is set
      if @api_client.config.client_side_validation && resource_annotate_request.nil?
        fail ArgumentError, "Missing the required parameter 'resource_annotate_request' when calling ResourcesApi.annotate_resource"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/resources/{id}/provenance'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(resource_annotate_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ResourceView'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"ResourcesApi.annotate_resource",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#annotate_resource\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param resource_create_request [ResourceCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [ResourceView]
    def create_resource(resource_create_request, opts = {})
      data, _status_code, _headers = create_resource_with_http_info(resource_create_request, opts)
      data
    end

    # @param resource_create_request [ResourceCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(ResourceView, Integer, Hash)>] ResourceView data, response status code and response headers
    def create_resource_with_http_info(resource_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.create_resource ...'
      end
      # verify the required parameter 'resource_create_request' is set
      if @api_client.config.client_side_validation && resource_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'resource_create_request' when calling ResourcesApi.create_resource"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/resources'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(resource_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ResourceView'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"ResourcesApi.create_resource",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#create_resource\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] Resource ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :invocation_id The invocation this act is correlated under (&#x60;kb_events.invocation_id&#x60;). Optional — a correlation aid, never a substitute for authn/authz.
    # @option opts [String] :correlation_id The act-grain thread this write belongs to (&#x60;kb_events.correlation_id&#x60;). Optional, caller- minted, provenance-only. Rides independently of &#x60;invocation_id&#x60; and of authorship.
    # @option opts [String] :reasoning Free-text reasoning for the act. Authorship field — requires &#x60;confidence&#x60;.
    # @option opts [ConfidenceBand] :confidence Graded self-assessed confidence band. Required whenever any other authorship field is set.
    # @option opts [String] :rationale Structured rationale for the act. Authorship field — requires &#x60;confidence&#x60;.
    # @option opts [String] :persona The persona/role the author acted as. Authorship field — requires &#x60;confidence&#x60;.
    # @option opts [String] :model The model that authored the act. Authorship field — requires &#x60;confidence&#x60;.
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [DeleteResponse]
    def delete_resource(id, opts = {})
      data, _status_code, _headers = delete_resource_with_http_info(id, opts)
      data
    end

    # @param id [String] Resource ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :invocation_id The invocation this act is correlated under (&#x60;kb_events.invocation_id&#x60;). Optional — a correlation aid, never a substitute for authn/authz.
    # @option opts [String] :correlation_id The act-grain thread this write belongs to (&#x60;kb_events.correlation_id&#x60;). Optional, caller- minted, provenance-only. Rides independently of &#x60;invocation_id&#x60; and of authorship.
    # @option opts [String] :reasoning Free-text reasoning for the act. Authorship field — requires &#x60;confidence&#x60;.
    # @option opts [ConfidenceBand] :confidence Graded self-assessed confidence band. Required whenever any other authorship field is set.
    # @option opts [String] :rationale Structured rationale for the act. Authorship field — requires &#x60;confidence&#x60;.
    # @option opts [String] :persona The persona/role the author acted as. Authorship field — requires &#x60;confidence&#x60;.
    # @option opts [String] :model The model that authored the act. Authorship field — requires &#x60;confidence&#x60;.
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(DeleteResponse, Integer, Hash)>] DeleteResponse data, response status code and response headers
    def delete_resource_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.delete_resource ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ResourcesApi.delete_resource"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/resources/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'invocation_id'] = opts[:'invocation_id'] if !opts[:'invocation_id'].nil?
      query_params[:'correlation_id'] = opts[:'correlation_id'] if !opts[:'correlation_id'].nil?
      query_params[:'reasoning'] = opts[:'reasoning'] if !opts[:'reasoning'].nil?
      query_params[:'confidence'] = opts[:'confidence'] if !opts[:'confidence'].nil?
      query_params[:'rationale'] = opts[:'rationale'] if !opts[:'rationale'].nil?
      query_params[:'persona'] = opts[:'persona'] if !opts[:'persona'].nil?
      query_params[:'model'] = opts[:'model'] if !opts[:'model'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"ResourcesApi.delete_resource",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#delete_resource\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] Resource ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [ContentResponse]
    def get_content(id, opts = {})
      data, _status_code, _headers = get_content_with_http_info(id, opts)
      data
    end

    # @param id [String] Resource ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(ContentResponse, Integer, Hash)>] ContentResponse data, response status code and response headers
    def get_content_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.get_content ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ResourcesApi.get_content"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/resources/{id}/content'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"ResourcesApi.get_content",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#get_content\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] Resource ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [ResourceView]
    def get_resource(id, opts = {})
      data, _status_code, _headers = get_resource_with_http_info(id, opts)
      data
    end

    # @param id [String] Resource ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(ResourceView, Integer, Hash)>] ResourceView data, response status code and response headers
    def get_resource_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.get_resource ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ResourcesApi.get_resource"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/resources/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResourceView'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"ResourcesApi.get_resource",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#get_resource\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] Resource ID
    # @param resource_grant_body [ResourceGrantBody] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [GrantOutcome]
    def grant_resource_access(id, resource_grant_body, opts = {})
      data, _status_code, _headers = grant_resource_access_with_http_info(id, resource_grant_body, opts)
      data
    end

    # @param id [String] Resource ID
    # @param resource_grant_body [ResourceGrantBody] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(GrantOutcome, Integer, Hash)>] GrantOutcome data, response status code and response headers
    def grant_resource_access_with_http_info(id, resource_grant_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.grant_resource_access ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ResourcesApi.grant_resource_access"
      end
      # verify the required parameter 'resource_grant_body' is set
      if @api_client.config.client_side_validation && resource_grant_body.nil?
        fail ArgumentError, "Missing the required parameter 'resource_grant_body' when calling ResourcesApi.grant_resource_access"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/resources/{id}/grants'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(resource_grant_body)

      # return_type
      return_type = opts[:debug_return_type] || 'GrantOutcome'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"ResourcesApi.grant_resource_access",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#grant_resource_access\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the finding at `{id}`'s citation-audit trail — one row per audit, each naming its auditor.
    # The `GET` sibling of [`record`] on the same path, and the read that makes an audit ATTRIBUTABLE. `GET /api/resources/{id}/evidence` returns aggregates only (`citation_magnitude` / `audit_coverage` / `citation_quality` / `band`), so a finding pushed to `disputed` by one auditor and one pushed there by three are indistinguishable on that surface: the verdict is visible, the voter is not. This read is opt-in rather than more fields on `StandingShape` because the shape is fixed-width and recomputed live on every call, while a trail grows with every audit ever emitted.  **404 when the finding is not readable (or does not exist); `200 []` only when it IS readable and genuinely carries no audits.** That is deliberately not the collection default — the `/provenance` sibling answers `200 []` for an unreadable resource. Why this one refuses instead is a leak-safety argument about the pair of endpoints, not about this handler: it lives in `temper_services::services::citation_audit_service`'s module doc, beside where `/evidence`'s equivalent lives in `evidential_standing_service`.
    # @param id [String] Resource ID (the finding whose audit trail is read)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<CitationAuditRow>]
    def list_citation_audits(id, opts = {})
      data, _status_code, _headers = list_citation_audits_with_http_info(id, opts)
      data
    end

    # List the finding at &#x60;{id}&#x60;&#39;s citation-audit trail — one row per audit, each naming its auditor.
    # The &#x60;GET&#x60; sibling of [&#x60;record&#x60;] on the same path, and the read that makes an audit ATTRIBUTABLE. &#x60;GET /api/resources/{id}/evidence&#x60; returns aggregates only (&#x60;citation_magnitude&#x60; / &#x60;audit_coverage&#x60; / &#x60;citation_quality&#x60; / &#x60;band&#x60;), so a finding pushed to &#x60;disputed&#x60; by one auditor and one pushed there by three are indistinguishable on that surface: the verdict is visible, the voter is not. This read is opt-in rather than more fields on &#x60;StandingShape&#x60; because the shape is fixed-width and recomputed live on every call, while a trail grows with every audit ever emitted.  **404 when the finding is not readable (or does not exist); &#x60;200 []&#x60; only when it IS readable and genuinely carries no audits.** That is deliberately not the collection default — the &#x60;/provenance&#x60; sibling answers &#x60;200 []&#x60; for an unreadable resource. Why this one refuses instead is a leak-safety argument about the pair of endpoints, not about this handler: it lives in &#x60;temper_services::services::citation_audit_service&#x60;&#39;s module doc, beside where &#x60;/evidence&#x60;&#39;s equivalent lives in &#x60;evidential_standing_service&#x60;.
    # @param id [String] Resource ID (the finding whose audit trail is read)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(Array<CitationAuditRow>, Integer, Hash)>] Array<CitationAuditRow> data, response status code and response headers
    def list_citation_audits_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.list_citation_audits ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ResourcesApi.list_citation_audits"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/resources/{id}/citation-audits'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CitationAuditRow>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"ResourcesApi.list_citation_audits",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#list_citation_audits\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] Resource ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<GraphEdgeRow>]
    def list_resource_edges(id, opts = {})
      data, _status_code, _headers = list_resource_edges_with_http_info(id, opts)
      data
    end

    # @param id [String] Resource ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(Array<GraphEdgeRow>, Integer, Hash)>] Array<GraphEdgeRow> data, response status code and response headers
    def list_resource_edges_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.list_resource_edges ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ResourcesApi.list_resource_edges"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/resources/{id}/edges'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<GraphEdgeRow>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"ResourcesApi.list_resource_edges",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#list_resource_edges\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # `GET /api/resources` — **one response type, unconditionally.**
    # This endpoint used to answer in `oneOf<ResourceListResponse, ResourceMetaListResponse>`, selected by `?meta_only=true`: two envelopes over two row types, so a generated client had a union to discriminate and an agent had two shapes to learn. `?sections=` replaces it — the caller varies which *parts* of `ResourceView` are filled, never which type comes back. The `ListResourcesResponse` enum, its `untagged` serde impl and its hand-written `IntoResponse` are gone with it; `ResourceListResponse` is a plain `Json` return like every other read here.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :kb_doc_type_id 
    # @option opts [String] :context_ref Context filter: UUID string or &#x60;@owner/slug&#x60; decorated ref. Bare context names are rejected server-side (spec Decision 1).
    # @option opts [String] :doc_type_name 
    # @option opts [String] :owner 
    # @option opts [String] :q 
    # @option opts [String] :stage 
    # @option opts [String] :status Goal-status filter (goal only): matches &#x60;temper-status&#x60; via the &#x60;kb_resource_workflow_props&#x60; pivot, exactly as &#x60;stage&#x60; does. Validated against the goal schema&#39;s enum surface-side, so an unknown value is an error rather than a silent full scan — which is what this field&#39;s absence used to produce.
    # @option opts [String] :goal Goal filter (task only): the resolved goal &#x60;ResourceId&#x60; (as UUID). Returns only resources joined to this goal via a live &#x60;advances&#x60;→goal edge. The CLI/MCP resolve the caller&#39;s &#x60;--goal &lt;ref&gt;&#x60; to this UUID (trailing-UUID-only) before the query. &#x60;None&#x60; &#x3D; no goal filter.
    # @option opts [String] :tags Tag filter: a comma-separated list of tags. Returns only resources whose &#x60;open_meta.tags&#x60; contains **every** tag listed (AND, so each added tag narrows — the same direction every other filter here composes in). Matching is exact per tag and **case-insensitive**: the fold happens receive-side in &#x60;filtered_visible_page&#x60;, so the CLI, MCP and raw HTTP cannot disagree about it.  A CSV string rather than a &#x60;Vec&#x60; for the same reason as &#x60;cogmap_ids&#x60;: the list endpoint is a GET whose params ride the query string (serde_urlencoded, which does not encode sequences). No tag in the corpus contains a comma (verified against production, 580 distinct tags), and a tag containing one cannot be expressed through this transport — which is a constraint on the tag vocabulary, not a silent truncation: the split is on &#x60;,&#x60; and each piece is trimmed.  Unlike &#x60;stage&#x60; (task-only) and &#x60;status&#x60; (goal-only), tags are **not** doc-type-scoped — 14 doc types carry them in production. So there is deliberately no mismatched-filter refusal for this field; pairing it with any &#x60;doc_type_name&#x60;, or with none, is meaningful.
    # @option opts [String] :cogmap_ids Cognitive-map scope: a comma-separated list of cogmap UUIDs. Returns only resources homed in one of these maps (&#x60;anchor_table &#x3D; &#39;kb_cogmaps&#39;&#x60;), intersected with the caller&#39;s visible set. A CSV string rather than a &#x60;Vec&#x60; because the list endpoint is a GET whose params ride the query string (serde_urlencoded, which does not encode sequences); the CLI/MCP resolve each &#x60;--cogmap &lt;ref&gt;&#x60; (trailing-UUID-only) and join here. &#x60;None&#x60;/empty &#x3D; no cogmap filter.
    # @option opts [ResourceSortField] :sort 
    # @option opts [SortOrder] :order 
    # @option opts [Integer] :limit 
    # @option opts [Integer] :offset 
    # @option opts [String] :sections Optional sections to fill on each returned [&#x60;ResourceView&#x60;]: a comma-separated list of [&#x60;temper_core::types::resource_view::ResourceSection&#x60;] names (&#x60;open-meta&#x60;, &#x60;body&#x60;, &#x60;edges&#x60;). &#x60;None&#x60;/empty asks for none, which is the default list row.  Replaces &#x60;meta_only&#x60;, which named a *response type* rather than a part: it selected a second envelope (&#x60;ResourceMetaListResponse&#x60;) whose rows were a different shape. There is one response shape now, so what the caller varies is which parts of it are filled.  A CSV string rather than a &#x60;Vec&#x60; for the same reason as &#x60;tags&#x60; and &#x60;cogmap_ids&#x60; above — the list endpoint is a GET whose params ride the query string, and serde_urlencoded does not encode sequences. Parsed by &#x60;SectionSet::parse_csv&#x60;, which refuses an unknown name naming the whole valid set.
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [ResourceListResponse]
    def list_resources(opts = {})
      data, _status_code, _headers = list_resources_with_http_info(opts)
      data
    end

    # &#x60;GET /api/resources&#x60; — **one response type, unconditionally.**
    # This endpoint used to answer in &#x60;oneOf&lt;ResourceListResponse, ResourceMetaListResponse&gt;&#x60;, selected by &#x60;?meta_only&#x3D;true&#x60;: two envelopes over two row types, so a generated client had a union to discriminate and an agent had two shapes to learn. &#x60;?sections&#x3D;&#x60; replaces it — the caller varies which *parts* of &#x60;ResourceView&#x60; are filled, never which type comes back. The &#x60;ListResourcesResponse&#x60; enum, its &#x60;untagged&#x60; serde impl and its hand-written &#x60;IntoResponse&#x60; are gone with it; &#x60;ResourceListResponse&#x60; is a plain &#x60;Json&#x60; return like every other read here.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :kb_doc_type_id 
    # @option opts [String] :context_ref Context filter: UUID string or &#x60;@owner/slug&#x60; decorated ref. Bare context names are rejected server-side (spec Decision 1).
    # @option opts [String] :doc_type_name 
    # @option opts [String] :owner 
    # @option opts [String] :q 
    # @option opts [String] :stage 
    # @option opts [String] :status Goal-status filter (goal only): matches &#x60;temper-status&#x60; via the &#x60;kb_resource_workflow_props&#x60; pivot, exactly as &#x60;stage&#x60; does. Validated against the goal schema&#39;s enum surface-side, so an unknown value is an error rather than a silent full scan — which is what this field&#39;s absence used to produce.
    # @option opts [String] :goal Goal filter (task only): the resolved goal &#x60;ResourceId&#x60; (as UUID). Returns only resources joined to this goal via a live &#x60;advances&#x60;→goal edge. The CLI/MCP resolve the caller&#39;s &#x60;--goal &lt;ref&gt;&#x60; to this UUID (trailing-UUID-only) before the query. &#x60;None&#x60; &#x3D; no goal filter.
    # @option opts [String] :tags Tag filter: a comma-separated list of tags. Returns only resources whose &#x60;open_meta.tags&#x60; contains **every** tag listed (AND, so each added tag narrows — the same direction every other filter here composes in). Matching is exact per tag and **case-insensitive**: the fold happens receive-side in &#x60;filtered_visible_page&#x60;, so the CLI, MCP and raw HTTP cannot disagree about it.  A CSV string rather than a &#x60;Vec&#x60; for the same reason as &#x60;cogmap_ids&#x60;: the list endpoint is a GET whose params ride the query string (serde_urlencoded, which does not encode sequences). No tag in the corpus contains a comma (verified against production, 580 distinct tags), and a tag containing one cannot be expressed through this transport — which is a constraint on the tag vocabulary, not a silent truncation: the split is on &#x60;,&#x60; and each piece is trimmed.  Unlike &#x60;stage&#x60; (task-only) and &#x60;status&#x60; (goal-only), tags are **not** doc-type-scoped — 14 doc types carry them in production. So there is deliberately no mismatched-filter refusal for this field; pairing it with any &#x60;doc_type_name&#x60;, or with none, is meaningful.
    # @option opts [String] :cogmap_ids Cognitive-map scope: a comma-separated list of cogmap UUIDs. Returns only resources homed in one of these maps (&#x60;anchor_table &#x3D; &#39;kb_cogmaps&#39;&#x60;), intersected with the caller&#39;s visible set. A CSV string rather than a &#x60;Vec&#x60; because the list endpoint is a GET whose params ride the query string (serde_urlencoded, which does not encode sequences); the CLI/MCP resolve each &#x60;--cogmap &lt;ref&gt;&#x60; (trailing-UUID-only) and join here. &#x60;None&#x60;/empty &#x3D; no cogmap filter.
    # @option opts [ResourceSortField] :sort 
    # @option opts [SortOrder] :order 
    # @option opts [Integer] :limit 
    # @option opts [Integer] :offset 
    # @option opts [String] :sections Optional sections to fill on each returned [&#x60;ResourceView&#x60;]: a comma-separated list of [&#x60;temper_core::types::resource_view::ResourceSection&#x60;] names (&#x60;open-meta&#x60;, &#x60;body&#x60;, &#x60;edges&#x60;). &#x60;None&#x60;/empty asks for none, which is the default list row.  Replaces &#x60;meta_only&#x60;, which named a *response type* rather than a part: it selected a second envelope (&#x60;ResourceMetaListResponse&#x60;) whose rows were a different shape. There is one response shape now, so what the caller varies is which parts of it are filled.  A CSV string rather than a &#x60;Vec&#x60; for the same reason as &#x60;tags&#x60; and &#x60;cogmap_ids&#x60; above — the list endpoint is a GET whose params ride the query string, and serde_urlencoded does not encode sequences. Parsed by &#x60;SectionSet::parse_csv&#x60;, which refuses an unknown name naming the whole valid set.
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(ResourceListResponse, Integer, Hash)>] ResourceListResponse data, response status code and response headers
    def list_resources_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.list_resources ...'
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/resources'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'kb_doc_type_id'] = opts[:'kb_doc_type_id'] if !opts[:'kb_doc_type_id'].nil?
      query_params[:'context_ref'] = opts[:'context_ref'] if !opts[:'context_ref'].nil?
      query_params[:'doc_type_name'] = opts[:'doc_type_name'] if !opts[:'doc_type_name'].nil?
      query_params[:'owner'] = opts[:'owner'] if !opts[:'owner'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?
      query_params[:'stage'] = opts[:'stage'] if !opts[:'stage'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'goal'] = opts[:'goal'] if !opts[:'goal'].nil?
      query_params[:'tags'] = opts[:'tags'] if !opts[:'tags'].nil?
      query_params[:'cogmap_ids'] = opts[:'cogmap_ids'] if !opts[:'cogmap_ids'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'sections'] = opts[:'sections'] if !opts[:'sections'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResourceListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"ResourcesApi.list_resources",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#list_resources\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] Resource ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<BlockProvenanceRow>]
    def provenance(id, opts = {})
      data, _status_code, _headers = provenance_with_http_info(id, opts)
      data
    end

    # @param id [String] Resource ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(Array<BlockProvenanceRow>, Integer, Hash)>] Array<BlockProvenanceRow> data, response status code and response headers
    def provenance_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.provenance ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ResourcesApi.provenance"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/resources/{id}/provenance'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<BlockProvenanceRow>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"ResourcesApi.provenance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#provenance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Record an auditor's signed defensibility verdict on one `(block, source)` citation of the finding at `{id}`. CONFORM to `handlers::edges::assert` (the sibling authored-write handler): thin — build the command, dispatch it, map the error. No persistence here.
    # `id` is a routing address only. The real authorization subject is the block's owning finding, resolved server-side from `req.block_id` (`temper-services/src/authz/audit_gate.rs:65-77`). `citation_audit_service::record_citation_audit` derives that finding and refuses with 404 if it disagrees with `id`, so a caller cannot address one finding in the path while writing an audit onto a block of another.  `CitationAuditRequest` carries no act/authorship fields (unlike `AssertRelationshipRequest`'s flattened `ActInput`) — that shape was fixed in Task 7/3 and is not this task's to change — so the command's `act` is always the empty default here.
    # @param id [String] Resource ID (the finding being audited)
    # @param citation_audit_request [CitationAuditRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [String]
    def record_citation_audit(id, citation_audit_request, opts = {})
      data, _status_code, _headers = record_citation_audit_with_http_info(id, citation_audit_request, opts)
      data
    end

    # Record an auditor&#39;s signed defensibility verdict on one &#x60;(block, source)&#x60; citation of the finding at &#x60;{id}&#x60;. CONFORM to &#x60;handlers::edges::assert&#x60; (the sibling authored-write handler): thin — build the command, dispatch it, map the error. No persistence here.
    # &#x60;id&#x60; is a routing address only. The real authorization subject is the block&#39;s owning finding, resolved server-side from &#x60;req.block_id&#x60; (&#x60;temper-services/src/authz/audit_gate.rs:65-77&#x60;). &#x60;citation_audit_service::record_citation_audit&#x60; derives that finding and refuses with 404 if it disagrees with &#x60;id&#x60;, so a caller cannot address one finding in the path while writing an audit onto a block of another.  &#x60;CitationAuditRequest&#x60; carries no act/authorship fields (unlike &#x60;AssertRelationshipRequest&#x60;&#39;s flattened &#x60;ActInput&#x60;) — that shape was fixed in Task 7/3 and is not this task&#39;s to change — so the command&#39;s &#x60;act&#x60; is always the empty default here.
    # @param id [String] Resource ID (the finding being audited)
    # @param citation_audit_request [CitationAuditRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def record_citation_audit_with_http_info(id, citation_audit_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.record_citation_audit ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ResourcesApi.record_citation_audit"
      end
      # verify the required parameter 'citation_audit_request' is set
      if @api_client.config.client_side_validation && citation_audit_request.nil?
        fail ArgumentError, "Missing the required parameter 'citation_audit_request' when calling ResourcesApi.record_citation_audit"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/resources/{id}/citation-audits'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(citation_audit_request)

      # return_type
      return_type = opts[:debug_return_type] || 'String'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"ResourcesApi.record_citation_audit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#record_citation_audit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] Resource ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [StandingShape]
    def resource_evidence(id, opts = {})
      data, _status_code, _headers = resource_evidence_with_http_info(id, opts)
      data
    end

    # @param id [String] Resource ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(StandingShape, Integer, Hash)>] StandingShape data, response status code and response headers
    def resource_evidence_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.resource_evidence ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ResourcesApi.resource_evidence"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/resources/{id}/evidence'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StandingShape'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"ResourcesApi.resource_evidence",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#resource_evidence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] Resource ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :depth Max hop distance to walk from the seed (default 16, clamped to 1..&#x3D;64).
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [ResourceLineage]
    def resource_lineage(id, opts = {})
      data, _status_code, _headers = resource_lineage_with_http_info(id, opts)
      data
    end

    # @param id [String] Resource ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :depth Max hop distance to walk from the seed (default 16, clamped to 1..&#x3D;64).
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(ResourceLineage, Integer, Hash)>] ResourceLineage data, response status code and response headers
    def resource_lineage_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.resource_lineage ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ResourcesApi.resource_lineage"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/resources/{id}/lineage'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'depth'] = opts[:'depth'] if !opts[:'depth'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResourceLineage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"ResourcesApi.resource_lineage",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#resource_lineage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] Resource ID
    # @param resource_revoke_body [ResourceRevokeBody] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [RevokeOutcome]
    def revoke_resource_access(id, resource_revoke_body, opts = {})
      data, _status_code, _headers = revoke_resource_access_with_http_info(id, resource_revoke_body, opts)
      data
    end

    # @param id [String] Resource ID
    # @param resource_revoke_body [ResourceRevokeBody] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(RevokeOutcome, Integer, Hash)>] RevokeOutcome data, response status code and response headers
    def revoke_resource_access_with_http_info(id, resource_revoke_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.revoke_resource_access ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ResourcesApi.revoke_resource_access"
      end
      # verify the required parameter 'resource_revoke_body' is set
      if @api_client.config.client_side_validation && resource_revoke_body.nil?
        fail ArgumentError, "Missing the required parameter 'resource_revoke_body' when calling ResourcesApi.revoke_resource_access"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/resources/{id}/grants'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(resource_revoke_body)

      # return_type
      return_type = opts[:debug_return_type] || 'RevokeOutcome'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"ResourcesApi.revoke_resource_access",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#revoke_resource_access\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] Resource ID
    # @param resource_update_request [ResourceUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [ResourceView]
    def update_resource(id, resource_update_request, opts = {})
      data, _status_code, _headers = update_resource_with_http_info(id, resource_update_request, opts)
      data
    end

    # @param id [String] Resource ID
    # @param resource_update_request [ResourceUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(ResourceView, Integer, Hash)>] ResourceView data, response status code and response headers
    def update_resource_with_http_info(id, resource_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.update_resource ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ResourcesApi.update_resource"
      end
      # verify the required parameter 'resource_update_request' is set
      if @api_client.config.client_side_validation && resource_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'resource_update_request' when calling ResourcesApi.update_resource"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/resources/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(resource_update_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ResourceView'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"ResourcesApi.update_resource",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#update_resource\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
