@import "tailwindcss";

@theme {
	--color-temper-50: #f0f7ff;
	--color-temper-100: #e0effe;
	--color-temper-200: #bae0fd;
	--color-temper-300: #7ccbfc;
	--color-temper-400: #36b2f8;
	--color-temper-500: #0c99e9;
	--color-temper-600: #0079c7;
	--color-temper-700: #0060a1;
	--color-temper-800: #045185;
	--color-temper-900: #09446e;
	--color-temper-950: #062b49;

	--color-ink: #1a1a2e;
	--color-chalk: #f8f9fa;

	--font-sans: "Inter", "system-ui", "sans-serif";
	--font-mono: "JetBrains Mono", "Fira Code", "monospace";
}
